<div class="container search-index-box pt-5 mt-5" style="padding-top: 25px;">
  <div class="col-md-12 notes-box">
    <div class="row post-header">
      <h1>
        Question
      </h1>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-sm-12" style="padding-top: 10px; padding-bottom: 10px;">
          <% if @question.present? %>
            <%= @question.text %>
          <% end %>
          <div class="devider-line"></div>
        </div>
        <div class="col-sm-12">
          <div class="panel panel-default mt-3 margin-top-10 padding-tb-10" style="margin-top: 7px;margin-left: -30px; border-right: black solid 4px;">
            <!-- Default panel contents -->
            <div class="panel-heading text-center">
              Answers
            </div>
            <div class="panel-body">
              <div class="row">
                <% if @answers.present? %>
                  <% @answers.each.with_index(1) do |ans, index| %>
                    <div class="col-sm-12">
                      <div class="row">
                        <div class="col-sm-9">
                          <p class="">
                            <%= index %> : <%= ans.text %>
                          <div class="devider-line"></div>
                          </p>
                        </div>
                        <div class="col-sm-3">
                          <div class="box-links-2 text-center pb-5">
                            <b><div class="rating">
                              <% 1.upto(5) do |star_index| %>
                                <% if star_index <= ans.avg_rating %>
                                  <span class="glyphicon glyphicon-star"></span>
                                <% else %>
                                  <span class="glyphicon glyphicon-star-empty"></span>
                                <% end %>
                              <% end %>
                              <% if user_signed_in? %>
                                <% unless ans.ratings.nil? %>
                                  <span id="rated"><i>You Rated <strong class="rate_count"> <%= ans.ratings.map(&:score).sum %></strong> Stars.</i></span>
                                <% else %>
                                  <span id="rated" style="display: none;"><i>You Rated <strong class="rate_count"></strong> Stars.</i></span>
                                <% end %>
                              <% end %>
                            </div></b>
                          </div>
                        </div>
                      </div>
                    </div>
                  <% end %>
                <% end %>
              </div>
              <%= render 'answers/form', question: @question, answer: Answer.new %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<style>
  .devider-line {
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    border: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
</style>