<div class="container-flex">
  <div class="col-md-12 notes-box">
    <div class="row show-header text-center">
      <h1>
        <%= @want.title %>
      </h1>
    </div>
    <div class="row show-author">
      <div class="col-md-3">
        <p><b><%= @want.user.first_name %> <%= @want.user.last_name %></b></p>
      </div>
      <div class="col-md-3 col-md-offset-6">
        <p class="text-right show-date"><b><%= @want.price %></b></p>
      </div>
    </div>
    <div class="row show-box">
      <%= @want.description %>
    </div>
    <div class="row show-box">
      <% @want.wants_attachments.each do |f| %>
        <%= image_tag(f.image, {:style => "max-width: 40%", :class => "profile-pic text-center"}) %>
      <% end %>
    </div>
    <div class="row show-author">
      <p class="text-right show-date"><b><%= @want.created_at.strftime("%d/%m/%Y") %></b></p>
    </div>
  </div>
</div>