<div class="container-flex">
  <div class="row">
    <div class="col-md-12">
      <div class="show-header">
        <h1>
          Profile
        </h1>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-7">
      <div class="col-md-12">
        <div class="row profile profile-btn">
          <% if current_user.id == @user.id %>
            <h4 class="profile-link">
              <%= link_to "Edit Profile", edit_user_registration_path(@user), :class => "b4" %>
            </h4>
          <% else %>
            <h4 class="profile-link">
              <%= link_to "Add friend", friendships_path(:friend_id => @user.id), :method => :post, :class => "b4" %>
            </h4>
          <% end %>
        </div>
        <div class="row">
          <% if current_user.id /= @user.id %>

          <% end %>
        </div>
      </div>
      <div class="row profile">
        <h4><b>Name: </b><%= @user.first_name %> <%= @user.last_name %></h4>
        <h4><b>Email: </b><%= @user.email %></h4>
      </div>

      <div class="row profile">
        <h4><b><%= link_to "Notes", profile_posts_path(@user) %></b></h4>
        <h4><b><%= link_to "Skills Offered", haves_path(@user) %></b></h4>
        <h4><b><%= link_to "Skills Wanted", wants_path(@user) %></b></h4>
      </div>
    </div>
    <div class="col-md-5 friend-box">
      <% if current_user.id == @user.id %>
        <div class="row note-box">
          <h2 class="friend-header">Following</h2>
          <ul>
            <% for friendship in @user.friendships %>
              <li>
                <%=h friendship.friend.first_name %> <%= friendship.friend.last_name %>
                (<%= link_to "remove", friendship, :method => :delete %>)
              </li>
            <% end %>
          </ul>
        </div>
        <div class="row note-box">
          <h2 class="friend-header">Followed By</h2>
          <ul>
            <% for user in @user.inverse_friends %>
              <li><%=h user.first_name %><%= user.last_name %></li>
            <% end %>
          </ul>
        </div>
        <% end %>
    </div>
  </div>
</div>