<%= display_validation_errors(@tag) %>

<div class="panel panel-default devise-bs area-form-cont">
  <div class="col-md-10 col-md-offset-1">
    <div class="show-header">
      <h1>Create an Area</h1>
    </div>
    <div class="panel-body area-form-body">
      <%= bootstrap_form_for(@tag,
                   url: area_create_path,
                   html: { method: :post }) do |f| %>

        <div class="form-group required">
          <%= f.text_field :name, label: "Area Name", autofocus: true, class: "form-control", placeholder: "Please specify a name to the Layer you are adding." %>
          <%= f.hidden_field :creator_id, :value => current_user.id %>
        </div>

        <div class="form-group">
          <%= f.text_area :tag_body, label: "Describe the area more"  %>
        </div>

        <%= f.submit "Create Area", class: "btn btn-primary" %>
      <% end %>

    </div>
  </div>

</div>
