<div class="panel panel-default devise-bs area-form-cont">
  <div class="col-md-10 col-md-offset-1">
    <div class="show-header">
      <h1>Create a New Layer on "<%= @area.name %>"</h1>
    </div>
    <div class="panel-body area-form-body">
      <%= form_for(@layer,
                   url: "/area/#{@area.name}/create_layer",
                   html: { method: :post }) do |f| %>
        <div class="form-group required">
          <%= f.label :name %>
          <%= f.text_field :name, autofocus: true, class: "form-control", placeholder: "Please specify a name to the Layer you are adding." %>
        </div>
        <div class="form-group">
          <%= f.label :layer_body %>
          <%= f.text_area :layer_body, class: "tinymce", rows: 20 , cols: 120  %>
          <%= tinymce %>
        </div>
        <%= f.submit "Add Layer", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>

