<div class="container area-show-box">
  <div class="row note-title-c">
    <h1 class="media-heading"><%= @area_stats[0] %></h1>

  </div>
  <div class="row area-show-layer">
    <div class="col-md-6 layer-box">
      Layer:
      <select name="layer_sel" id="layer_sel">
        <% if @clayer.nil? %>
          <option value="/area/<%= @area.name %>" selected="selected">Public</option>
          <% @layers.each do |l| %>
            <option value="/area/<%= @area.name %>?layer=<%= l.name %>">
              <%=  l.name %>
            </option>
          <% end %>
        <% else %>
          <option value="/area/<%= @area.name %>">Public</option>
          <% @layers.each do |l| %>
            <option value="/area/<%= @area.name %>?layer=<%= l.name %>" selected="<%= 'selected' if l.name == @clayer.name %>">
              <%=  l.name %>
            </option>
          <% end %>
        <% end %>
        <option value="/area/<%= @area.name %>/new_layer">Add a new Layer.</option>
      </select>
    </div>
    <div class="col-md-3 col-md-offset-3">
      <p class="text-right">
        By <%= link_to @area.user.full_name, profile_user_path(id: @area.user.slug)  %>
      </p>
    </div>
  </div>
  <div class="row">

  </div>
  <div class="row area-show-body">
    <% if @clayer.nil? %>
      <%= @area.tag_body.try(:html_safe) %>
  </div>
  <div class="row box-link-row">
    <div class="box-links-2 col-md-6">
      <%= link_to new_post_path(post_type: 'Problem', area: @area_stats[0], area_layer: @clayer.try(:name)), class: "btn2a btn-primary" do %>
        <span class="glyphicon glyphicon-plus"></span>
        new Problem in "<%= @area_stats[0] %>"
      <% end %>
      <%= link_to new_post_path(post_type: 'Proposal', area: @area_stats[0] , area_layer: @clayer.try(:name)), class: "btn2a btn-primary" do %>
        <span class="glyphicon glyphicon-plus"></span>
        new Proposal in "<%= @area_stats[0] %>"
      <% end %>
    </div>
    <% if user_signed_in? %>
      <% if @area.creator_id = current_user.id %>
        <div class="col-md-1 col-md-offset-4">
          <a><%= link_to 'Edit', edit_post_path, class: "btn btn-success btn-black" %></a>
        </div>
        <div class="col-md-1">
            <%= bootstrap_form_for(@delete,
                                   url: area_path(@delete),
                                   html: { method: :put }) do |f| %>

              <div class="form-group">
                <%= f.hidden_field :tag_body, :value => "[deleted]" %>
                <%= f.submit "Delete", data: { confirm: 'Are you sure?' }, class: "btn btn-success btn-black" %>
              </div>
            <% end %>
          </div>
        <% end %>
      <% end %>
    </div>
    <div class="box-links-2 col-md-2 col-md-offset-4">
<% end %>
    </div>
  </div>
  <div class="row">
    <div class="container-flex">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-6  note-title-b text-center">
            <h2>
              <%= @area_stats[1]%> Problems  <small><%= @clayer.nil? ? "Public" : @clayer.name %></small>
            </h2>
          </div>
          <div class="col-md-6 note-title-b text-center">
            <h2>
              <%= @area_stats[1]%> Proposals  <small><%= @clayer.nil? ? "Public" : @clayer.name %></small>
            </h2>
          </div>
        </div>

        <div class="row response-box">
          <%= render partial: 'posts_list_item' %>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
<% unless @clayer.nil? %>
  // select the current layer
   $('#layer_sel option:contains("<%= @clayer.name %>")').prop("selected","selected");
   $('#layer_id').val("<%= @clayer.id %>");
  <% else %>
   $('#layer_sel option:contains("Public")').prop("selected","selected");
<% end %>
</script>


