<%= bootstrap_form_for @video, class: "form-horizonatl" do |f| %>
  <div class="row form-cont">
    <div class="col-md-10">
      <%= f.text_field :title %>
      <%= f.text_area :description %>
      <%= f.text_field :video, prepend: 'https://www.youtube.com/watch?v=' %>

      <%= f.submit 'Submit', class: 'b4' %>
    </div>
  </div>
<% end %>