<div class="container-fluid">
  <div class="col-md-12 notes-box">
    <div class="row show-header text-center">
      <h1><b>
        <%= @video.title %>
      </b></h1>
    </div>
    <div class="row text-center">
      <p><%= @video.description %></p>
    </div>
    <div class="row show-box">
      <div class="col-md-12 text-center">
        <iframe width="840" height="630"
                src="https://www.youtube.com/embed/<%= @video.video %>">
        </iframe>
      </div>
    </div>
    <div class="row box-link-row">
      <div class="box-links-2 col-md-3">
        <% if user_signed_in? %>
          <% if current_user.id == @video.user_id %>
            <%= link_to "Edit", edit_pic_path(@video), class: "b2" %>
          <% end %>
        <% else %>
          <p><b><%= @video.user.first_name %> <%= @video.user.last_name %></b></p>
        <% end %>
      </div>
      <div class="box-links-2 col-md-3 col-md-offset-6 text-right">
        <b><span><i class="glyphicon glyphicon-calendar glyph-padding"></i> <%= @video.created_at.strftime("%I:%M %p, %m/%d/%Y") %> </span></b>
      </div>
    </div>
  </div>

</div>