<div class="navbar navbar navbar-fixed-top mobile-nofixed navbar-light" role="navigation">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
      <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
    </button>
  </div>
  <div class="collapse navbar-collapse text-dark bot-nav" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav nav-tag">
      <%= link_to image_tag("logo-icon.jpg", {:style => "width:50px;"}), root_path, class:"nav-link" %>
    </ul>
    <ul class="nav navbar-nav text-center">
      <form class="form-inline search-pad">
        <input class="form-control mr-sm-2" type="text" />
        <button class="btn b2" type="submit">
          Search
        </button>
      </form>
    </ul>
    <ul class="nav navbar-nav pull-right nav-links">
    <% if user_signed_in? %>
      <a href="/profiles"><span class="glyph-link glyphicon glyphicon-globe"></span></a>
      <div class="dropdown">
        <button class="glyph-drop glyphicon glyphicon-user"></button>
        <div class="dropdown-content">
          <% for friendship in current_user.friendships %>
            <a role="menuitem" tabindex="-1" href="#">
              <%= friendship.friend.first_name %> <%= friendship.friend.last_name %>
            </a>
          <% end %>
        </div>
      </div>
      <div class="dropdown">
        <button class="dropbtn"><%= current_user.first_name %> <%= current_user.last_name %></button>
        <div class="dropdown-content">
          <%= link_to "Profile", profile_path(current_user), :class => "b1" %>
          <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
        </div>
      </div>
      <% else %>
        <li class="nav-link">
          <%= link_to 'Sign in', new_user_session_path %>
        </li>
        <li class="nav-link">
          <%= link_to 'Sign up', new_user_registration_path %>
        </li>

      <% end %>
      </ul>
    </li>
  </div>
</div>
