<div class="container-flex">
  <div class="row text-center">
    <% if @user.avatar.present? %>
      <%= image_tag(@user.avatar, {:style => "width:175px;", :class => "profile-pic"}) %>
    <% else %>
      <%= image_tag("blank-profile-picture-973460_640.png", {:style => "width:175px;", :class => "profile-pic"}) %>
    <% end %>
  </div>
  <div class="row side-link-box">
    <h3 class="side-links">
      <% if user_signed_in? %>
        <%= link_to "About", profile_path(current_user), :class => "b1" %>
      <% else %>
        <%= link_to "About", root_path, :class => "b1" %>
      <% end %>
    </h3>
    <h3 class="side-links">
      <%= link_to "Feed", profiles_path, :class => "b1" %>
    </h3>

    <h3 class="side-links">
      <%= link_to "Pictures", pic_path(@user.id), :class => "b1" %>
    </h3>
    <h3 class="side-links">
      <%= link_to "Videos", video_path(@user.id), :class => "b1" %>
    </h3>
    <h3 class="side-links">
      <%= link_to "Have", hafe_path(@user.id), :class => "b1" %>
    </h3>
    <h3 class="side-links">
      <%= link_to "Want", want_path(@user.id), :class => "b1" %>
    </h3>
    <h3 class="side-links">
      <%= link_to "Votes", root_path, :class => "b1" %>
    </h3>
    <h3 class="side-links">
      <%= link_to "Notes", profile_posts_path(current_user), :class => "b1" %>
    </h3>
    <h3 class="side-links">
      <%= link_to "Tracking", trackings_path, :class => "b1" %>
    </h3>
  </div>
</div>