<%= bootstrap_form_for @pic, class: "form-horizonatl" do |f| %>
  <div class="row form-cont">
    <div class="col-md-10">
      <%= f.text_field :name %>
      <%= f.text_area :description %>
      <%= f.file_field :image %>

      <%= f.submit 'Submit', class: 'b4' %>
    </div>
  </div>
<% end %>