<div class="container-flex">
  <div class="col-md-12 notes-box">
    <div class="row show-header text-center">
      <h1><b>
        <%= @pic.name %>
      </b></h1>
    </div>
    <div class="row show-author">
      <div class="col-md-3 col-md-offset-1">
        <p><b><%= @pic.user.first_name %> <%= @pic.user.last_name %></b></p>
      </div>
      <div class="col-md-3 col-md-offset-4">
        <p class="text-right show-date"><b><%= @pic.created_at.strftime("%d/%m/%Y") %></b></p>
      </div>
    </div>
    <div class="row text-center">
      <p><%= @pic.description %></p>
    </div>
    <div class="row show-box">
      <div class="col-md-12 text-center">
        <%= image_tag(@pic.image, {:style => "max-width:100%;", :class => "profile-pic text-center"}) %>
      </div>
    </div>
  </div>

</div>