<% require "font-awesome-rails" %>
<div class="container edit-box">
    <div class="content">
      <div class="note-title-b">
        <h1>Welcome.  Please Log In</h1>
      </div>
        <!-- BEGIN LOGIN FORM -->
      <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: "login-form",role: "form" }) do |f| %>
      <div class="alert alert-danger display-hide">
          <button class="close" data-close="alert"></button>
          <span> Enter any username and password. </span>
      </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group login-box">
              <!--ie8, ie9 does not support html5 placeholder, so we just solo_pic field title for that-->
              <label class="control-label visible-ie8 visible-ie9">Email</label>
              <!--input class="form-control form-control-solid placeholder-no-fix" type="text" autocomplete="off" placeholder="Username" name="username" / -->
              <%= f.email_field :email,class: "form-control form-control-solid placeholder-no-fix", placeholder: "Email",  autofocus: true %>
            </div>
            <div class="form-group">
              <label class="control-label visible-ie8 visible-ie9">Password</label>
              <!--input class="form-control form-control-solid placeholder-no-fix" type="password" autocomplete="off" placeholder="Password" name="password" /-->
              <%= f.password_field :password, autocomplete: "off", class: "form-control form-control-solid placeholder-no-fix", placeholder: "Password" %>
            </div>
            <div class="form-actions">
              <div class="row">
                <div class="col-md-3">
                  <button type="submit" class="btn2">Login</button>
                </div>
                <div class="col-md-3">
                  <div class="pull-left">
                    <label class="rememberme check">
                      <input type="checkbox" name="remember" value="1" />Remember me </label>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="pull-right forget-password-block">
                    <a href="javascript:;" id="forget-password" class="forget-password">Forgot Password?</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="login-options">
              <h4 class="pull-left">Or login with</h4>
              <ul class="social-icons pull-right">
                <div class="icon-box">
                  <%= link_to user_facebook_omniauth_authorize_path do %>
                    <%= fa_icon "fab facebook 2x" %>
                  <% end %>
                </div>
                <div class="icon-box">
                  <%= link_to user_twitter_omniauth_authorize_path do %>
                    <%= fa_icon "fab twitter 2x" %>
                  <% end %>
                </div>
                <div class="icon-box">
                  <%= link_to user_google_oauth2_omniauth_authorize_path do %>
                    <%= fa_icon "fab google 2x" %>
                  <% end %>
                </div>
              </ul>
            </div>
          </div>
        </div>
      <% end %>
      <!-- END LOGIN FORM -->
      <!-- BEGIN FORGOT PASSWORD FORM -->
      <div class="row new-pass-box">
        <form class="forget-form" action="index.html" method="post">
          <div class="row">
            <div class="form-title">
              <span class="form-title">Forget Password?</span>
              <span class="form-subtitle">Enter your e-mail to reset it.</span>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <input class="form-control placeholder-no-fix" type="text" autocomplete="off" placeholder="Email" name="email" />
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-actions">
                <button type="submit" class="btn btn-primary uppercase">Submit</button>
              </div>
            </div>
          </div>
        </form>

      <%= link_to 'Sign up', new_user_registration_path, class: "btn2" %>
    </div>
    <div class="copyright hide"></div>
  </div>
</div>
    