<div class="container-fluid">
<div class="row message-sidebar">
  <div class="row rooms-sidebar-box">
    <%= link_to "Create a room", new_room_path, class: 'message-buttons-b btn-primary' %>

    <h2 class="friend-header">Following</h2>
      <% for friendship in current_user.friendships %>
        <% name = [friendship.friend.first_name, friendship.friend.last_name].compact.join(' ') %>

        <%= bootstrap_form_for @room do |f| %>
          <div class="row message-sidebar-rows">
            <%= f.hidden_field :reciever_id, :value => friendship.friend.id %>
            <%= f.hidden_field :sender_id, :value => current_user.id %>
            <%= f.submit name, class: 'message-buttons-c text-left' %>
          </div>
        <% end %>
      <% end %>
  </div>
  <div class="row rooms-sidebar-box">
    <h2 class="friend-header">Followed By</h2>
    <% for user in current_user.inverse_friends %>
      <% nameB = [user.first_name, user.last_name].compact.join(' ') %>
      <%= bootstrap_form_for @room do |f| %>
        <div class="row message-sidebar-rows">
          <%= f.hidden_field :reciever_id, :value => user.id %>
          <%= f.hidden_field :sender_id, :value => current_user.id %>
          <%= f.submit nameB, class: 'message-buttons-c text-left' %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
</div>