<div class="container-fluid">
  <%= bootstrap_form_for(@have) do |f| %>
    <div class="row form-cont">
      <div class="col-md-5">
        <div class="row">
          <%= f.text_field :title %>
        </div>
        <div class="row">
          <%= f.text_area :description, class: "tinymce", rows: 10 , cols: 50  %>
        </div>
        <div class="row">
          <%= f.text_field :price %>
        </div>
      </div>
      <div class="col-md-5 form-cont">
        <%= f.fields_for :have_attachments do |p| %>
          <%= p.file_field :image, :multiple => true, name: "have_attachments[image][]", label: 'images' %>
          <%= p.file_field :image, :multiple => true, name: "have_attachments[image][]", hide_label: true %>
          <%= p.file_field :image, :multiple => true, name: "have_attachments[image][]", hide_label: true  %>
          <%= p.file_field :image, :multiple => true, name: "have_attachments[image][]", hide_label: true  %>
          <%= p.file_field :image, :multiple => true, name: "have_attachments[image][]", hide_label: true  %>
        <% end %>
      </div>
    </div>
    <div class="row form-cont">
      <%= f.submit 'Submit', class: 'b4' %>
    </div>
  <% end %>
</div>
