<div class="container-fluid">
  <div class="col-md-12 time-bank-box">
    <div class="time-bank-index-content">
      <div class="time-bank-btn-list">
        <div class="time-bank-btn">
          <%= link_to 'Offer Time Gigs', '#' %>
        </div>
        <div class="time-bank-btn">
          <%= link_to 'Find Time Gigs', '#' %>
        </div>
        <div class="time-bank-btn">
          <%= link_to 'My Time Gigs', '#' %>
        </div>
        <div class="time-bank-btn">
          <%= link_to 'Offer Time Services', '#' %>
        </div>
        <div class="time-bank-btn">
          <%= link_to 'Find Time Services', '#' %>
        </div>
        <div class="time-bank-btn">
          <%= link_to 'My Time Services', '#' %>
        </div>
      </div>
    </div>
  </div>
</div>


