
  <% @posts.each do |post| %>
    <div class="col-md-10 col-md-offset-1">
      <div class="row note-title">
        <h3 class="col-md-6">
          <%= link_to post.title, post_path(id: post.slug), data: { 'turbolinks': false } %>
        </h3>
        <p class="col-md-2 col-md-offset-4">
          By <%= post.user.full_name %>
        </p>
      </div>
      <div class="row note-body-2">
        <div class="col-md-12">
          <%= post.post_body.truncate(500).html_safe %>
        </div>
      </div>
      <div class="row box-link-row text-center">
        <div class="box-links-2 col-md-offset-5 col-md-2">
          <b> <span><i class="glyphicon glyphicon-comment glyph-padding"></i> 2 comments</span></b>
        </div>
        <div class="box-links-2 col-md-2">
          <b><div class="rating">
            <% 1.upto(5) do |star_index| %>
              <% if star_index <= post.avg_rating %>
                <span class="glyphicon glyphicon-star"></span>
              <% else %>
                <span class="glyphicon glyphicon-star-empty"></span>
              <% end %>
            <% end %>
          </div></b>
        </div>
        <div class="box-links-2 col-md-2">
          <b><span><i class="glyphicon glyphicon-calendar glyph-padding"></i> <%= post.created_at.strftime("%I:%M %p, %d/%m/%Y") %> </span></b>
        </div>
      </div>
      
      <!-- TODO:: move these post actions to a partial -->
      <ul class="list-inline list-unstyled">
        <% if post.post_type == 'Problem'%> 
          <li>
            <%= link_to new_post_path(post_type: "Idea",area: post.area, parent_post_id: post.id), class: "btn btn-primary" do %>
              <span class="glyphicon glyphicon-bell"></span>
                Give an Idea
            <% end %>
          </li>
        <% end %>
        <% if post.post_type == 'Idea' and  post.parent_post_id != nil %> 
          <li>
            <%= link_to post_path(id: post.parent_post_id), data: { 'turbolinks': false }, class: "btn btn-primary" do %>
              <span class="glyphicon glyphicon-zoom-in"></span>
                See the Problem
            <% end %>
          </li>
        <% end %>

        <% if post.post_type == 'Proposal' and  post.parent_post_id != nil %> 
          <li>
            <%= link_to post_path(id: post.parent_slug), data: { 'turbolinks': false }, class: "btn btn-primary" do %>
              <span class="glyphicon glyphicon-zoom-in"></span>
                See the Idea
            <% end %>
          </li>
        <% end %>

        <% if !(post.post_type == 'Problem') and post.post_type == 'Idea' %> 
        <li>
          <%= link_to new_post_path(post_type: "Proposal", area: post.area, parent_post_id: post.id), class: "btn btn-primary" do %>
            <span class="glyphicon glyphicon-wrench"></span>
              Give a Proposal
          <% end %>
        </li>
        <% end %>
        
      </ul>
</div>


<% if post.post_type == 'Problem'%>
  <%= link_to posts_path(post_type: 'Idea', tags_filter: post.all_tags.split(", ")[0], parent_id: post.id) do %>
    <span class="badge badge-success"><%= post.ideas.count %> Ideas</span>
  <% end %>
  <%= link_to posts_path(post_type: 'Proposal', tags_filter: post.all_tags.split(", ")[0], parent_id: post.id) do %>
    <span class="badge badge-info"><%= post.proposals.count %> Proposals</span>
  <% end %>
<% end %>
<% if post.post_type == 'Idea'%>
  <%= link_to posts_path(post_type: 'Proposal', tags_filter: post.all_tags.split(", ")[0], parent_id: post.id) do %>
    <span class="badge badge-info"><%= post.proposals.count %> Proposals</span>
  <% end %>
<% end %>
<% end %>

   