<script src="javascripts/tag-it.js" type="text/javascript" charset="utf-8"></script>
<link href="stylesheets/jquery.tagit.css" rel="stylesheet" type="text/css">

<%= display_validation_errors(@ep) %>

<div class="panel panel-default devise-bs area-form-cont">
  <div class="panel-body">
    <%= bootstrap_form_for(@ep,
                 url: post_path(@ep) + "?layer_id=" + ( @current_layer.nil? ? '' : @current_layer.id).to_s ,
                 html: { method: :put }) do |f| %>


      <%= f.text_field :title, autofocus: true, class: "form-control" %>

      <%= f.hidden_field :post_type, value: @ep.post_type %>
      <%= f.hidden_field :parent_post_id, value: @ep.parent_post_id %>

      <%= f.text_field :all_tags, label: "tags", placeholder: "Areas separated with comma", data: {role: "tagsinput"} %>

      <%= f.text_area :post_body %>

      <%= f.submit "Save", class: "btn btn-success" %>
      <a href="<%= post_path @ep %>" data-turbolinks='false' }><button class="btn btn-danger">Cancel</button></a>


    <% end %>
      
  </div>
</div>


<script type="text/javascript">
  $(document).ready(function() {
        $("#post_all_tags").tagit({
          availableTags: ["Needpedia"],
          tagLimit: 3
        });
    });
</script>