<%= display_validation_errors(@post) %>

<div class="area-form-cont">
  <div class="col-md-10 col-md-offset-1">
    <div class="show-header">
      <% if @post.all_tags.blank? %>
        <h1>Create a New <%= @post.post_type %></h1>
      <% else %>
        <h1>
          Create a New <%= @post.post_type %>
        </h1>
        <h3>
          <% @post.all_tags.split(", ").each do |tag_name| %>
            <span class="label-box"><%= tag_name %></span>
          <% end %>
        </h3>

      <% end %>

    </div>
    <div class="container">
      <div class="row">
          <div class="panel-body">
            <%= form_for(@post,
                         url: posts_path,
                         html: { method: :post }) do |f| %>

              <div class="form-group required">
                <%= f.label :title %>
                <%= f.text_field :title, autofocus: true, class: "form-control" %>
              </div>
              <%= f.hidden_field :post_type, value: @post.post_type %>
              <%= f.hidden_field :parent_post_id, value: @post.parent_post_id %>
              <%= f.hidden_field :area_layer, value: @area_layer %>



              <div class="form-group">
                <%= label_tag "Area" %>
                <%= f.text_field :all_tags, placeholder: "Areas separated with comma", data: {role: "tagsinput"} %>
              </div>

              <div class="form-group">
                <%= f.label :post_body %>
                <%= f.text_area :post_body, class: "tinymce", rows: 20 , cols: 90  %>
                <%= tinymce %>
              </div>



              <%= f.submit "Create Post", class: "btn btn-primary" %>
            <% end %>
          </div>
        </div>
      </div>
  </div>
  </div>
  </div>



<script type="text/javascript">
  $(document).ready(function() {
        $("#post_all_tags").tagit({
          availableTags: ["Needpedia"],
          tagLimit: 3
        });
    });
</script>