<div class="container search-index-box">
  <div class="row post-header">
    <h1>
      Public Feed
    </h1>
  </div>

  <% @feed.each do |f| %>
    <% if f.is_a? Tag %>
      <div class="row">
        <div class="row note-title">
          <h3 class="col-md-6 area-title-link">
            Area:
            <%= link_to f.name, area_path(f) %>
          </h3>
          <p class="col-md-2 col-md-offset-4">
            <% name = [f.user.first_name, f.user.last_name].compact.join(' ') %>
            By <%= name %>
          </p>
        </div>
        <div class="row note-body-2">
          <div class="col-md-12">
            <%= f.tag_body.truncate(500).html_safe %>
          </div>
        </div>
        <div class="row box-link-row">
          <div class="box-links-2 col-md-3 col-md-offset-9 text-right">
            <b><span><i class="glyphicon glyphicon-calendar glyph-padding"></i> <%= f.created_at.strftime("%I:%M %p, %m/%d/%Y") %> </span></b>
          </div>
        </div>
      </div>
    <% elsif f.is_a? Post %>
      <div class="row">
        <div class="row note-title">
          <h3 class="col-md-6 area-title-link">
            <%= f.post_type %>:
            <%= link_to f.title, post_path(id: f.slug), data: { 'turbolinks': false } %>
          </h3>
          <p class="col-md-2 col-md-offset-4">
            By <%= f.user.full_name %>
          </p>
        </div>
        <div class="row note-body-2">
          <div class="col-md-12">
            <%= f.post_body.truncate(500).html_safe %>
          </div>
        </div>
        <div class="row box-link-row">
          <div class="box-links-2 col-md-6">
            <% if f.post_type == 'Proposal' and  f.parent_post_id != nil %>
              <%= link_to post_path(id: f.parent_slug), data: { 'turbolinks': false }, class: "btn2 btn-primary" do %>
                <span class="glyphicon glyphicon-zoom-in"></span>
                See the Idea
              <% end %>
            <% end %>
            <% if f.post_type == 'Problem'%>
              <%= link_to posts_path(post_type: 'Idea', tags_filter: f.all_tags.split(", ")[0], parent_id: f.id) do %>
                <span class="search-b1"><%= f.ideas.count %> Ideas</span>
              <% end %>
              <%= link_to posts_path(post_type: 'Proposal', tags_filter: f.all_tags.split(", ")[0], parent_id: f.id) do %>
                <span class="search-b1"><%= f.proposals.count %> Proposals</span>
              <% end %>
              <%= link_to new_post_path(post_type: "Idea",area: f.area, parent_post_id: f.id), class: "btn2 btn-primary " do %>
                <span class="glyphicon glyphicon-bell"></span>
                Give an Idea
              <% end %>
            <% end %>
            <% if f.post_type == 'Idea'%>
              <%= link_to posts_path(post_type: 'Proposal', tags_filter: f.all_tags.split(", ")[0], parent_id: f.id) do %>
                <span class="search-b1"><%= f.proposals.count %> Proposals</span>
              <% end %>
              <% if f.post_type == 'Idea' and  f.parent_post_id != nil %>
                <%= link_to post_path(id: f.parent_post_id), data: { 'turbolinks': false }, class: "btn2 btn-primary" do %>
                  <span class="glyphicon glyphicon-zoom-in"></span>
                  See the Problem
                <% end %>
              <% end %>
              <%= link_to new_post_path(post_type: "Proposal", area: f.area, parent_post_id: f.id), class: "btn2 btn-primary" do %>
                <span class="glyphicon glyphicon-wrench"></span>
                Give a Proposal
              <% end %>
            <% end %>
          </div>
          <div class="box-links-2 col-md-3 col-md-offset-3 text-right">
            <b><span><i class="glyphicon glyphicon-calendar glyph-padding"></i> <%= f.created_at.strftime("%I:%M %p, %m/%d/%Y") %> </span></b>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
