
<div class="container search-index-box">
  <div class="col-md-10 col-md-offset-1">
    <div class="row post-header">
      <h1>
        Search Results
      </h1>
    </div>
    <div class="row">
      <% if @all_tags.count == 0  %>
        <h2>
          There are no Areas having "<%= @area %>" in their name.
        </h2>
        <%= link_to area_new_path , class: "btn btn-primary" do %>
              <span class="glyphicon glyphicon-plus"></span>
                Create a new Area
            <% end %>
        <%= link_to new_post_path(post_type: 'Problem', area: @area), class: "btn btn-danger" do %>
            <span class="glyphicon glyphicon-plus"></span>
              Create a new Problem in "<%= @area %>"
          <% end %>
          <%= link_to new_post_path(post_type: 'Proposal', area: @area), class: "btn btn-info" do %>
            <span class="glyphicon glyphicon-plus"></span>
              Create a new Proposal in "<%= @area %>"
          <% end %>
      <% else %>
        <h3>
          All Areas having "<%= @area %>" in their name
        </h3>
        <div class="col-md-12">
          <div class="row table col-md-12">
            <% @all_tags.each do |tag| %>
              <div class="col-md-12 post-index-row">
                <div class="col-md-4">
                  <h4>
                    <strong><%= tag[0] %></strong>
                  </h4>
                </div>
                <div class="col-md-4">
                  <%= link_to raw("#{tag[1]}</span> Problems</label>"), "/posts?post_type=Problem&tags_filter=#{tag[0]}", :class => "search-b1" %>

                  <%= link_to raw("#{tag[3]}</span> Proposals</label>"), "/posts?post_type=Proposal&tags_filter=#{tag[0]}", :class => "search-b1" %>
                </div>
                <div class="col-md-2">
                  <%= link_to new_post_path(post_type: 'Problem', area: tag[0]) do %>
                    <span class="glyphicon glyphicon-plus"></span>
                    New Problem
                  <% end %>
                </div>
                <div class="col-md-2">
                  <%= link_to new_post_path(post_type: 'Proposal', area: tag[0]) do %>
                    <span class="glyphicon glyphicon-plus search-b2a"></span>
                    New Proposal
                  <% end %>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<% end %>



