<div class="container">
  <div class="row">
    <div class="well" style="background-color: <%= bg_color(@post.post_type) %>">
      <div class="media">
        <a class="pull-left" href="#">
        <img class="media-object" src="https://placekitten.com/150/150">
      </a>
      <div class="media-body">

        <h1 class="media-heading"><%= link_to @post.title, post_path(id: @post.slug) %>
          <h2>
            Area:  <%= area_label(@post.post_type, @post.area) %>
           </h2>
                Layer: 
                <select name="layer_sel" id="layer_sel">
                  <% if @current_layer.nil? %> 
                    <option value="/posts/<%= @post.slug %>" selected="selected">Primary</option>
                    <% @post.layers.each do |l| %>
                      <option value="/posts/<%= @post.slug %>?layer=<%= l.name %>">
                        <%=  l.name %>
                      </option>
                    <% end %>
                  <% else %>
                    <option value="/posts/<%= @post.slug %>">Primary</option>
                    <% @post.layers.each do |l| %>
                      <option value="/posts/<%= @post.slug %>?layer=<%= l.name %>" selected="<%= 'selected' if l.name == @current_layer.name %>">
                        <%=  l.name %>
                      </option>
                    <% end %>
                  <% end %>
                  
                </select>
            
          <% if @post.post_type == 'Problem'%>
            <%= link_to posts_path(post_type: 'Idea', tags_filter: @post.all_tags.split(", ")[0], parent_id: @post.id) do %>
            <span class="badge badge-success"><%= @post.ideas.count %> Ideas</span>
            <% end %>
          <% end %>
          

        </h1>


          <p class="text-right">By <%= @post.user.full_name %></p>
          

          <div class="post-body">          
           <% if @current_layer.nil?%>
            <%= @post.body.html_safe %>
            <% else %>
            <%= @current_layer.body.html_safe %>
            <% end %> 
          </div>
      


      <ul class="list-inline list-unstyled">
        <li><span><i class="glyphicon glyphicon-calendar"></i> <%= @post.created_at %> </span></li>
            <li>|</li>
            <span><i class="glyphicon glyphicon-comment"></i> 2 comments</span>
            <li>|</li>
            <li>
               <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star-empty"></span>
            </li>
            <li>|</li>
            <li>
            <!-- Use Font Awesome http://fortawesome.github.io/Font-Awesome/ -->
              <span><i class="fa fa-facebook-square"></i></span>
              <span><i class="fa fa-twitter-square"></i></span>
              <span><i class="fa fa-google-plus-square"></i></span>
            </li>
      </ul>

      <ul class="list-inline list-unstyled">
        <% if @post.post_type == 'Problem'%> 
          <li>
            <%= link_to new_post_path(post_type: "Idea",area: @post.area, parent_post_id: @post.id), class: "btn btn-primary" do %>
              <span class="glyphicon glyphicon-bell"></span>
                Give an Idea
            <% end %>
          </li>
        <% end %>
        <% if @post.post_type == 'Idea' and  @post.parent_post_id != nil %> 
          <li>
            <%= link_to post_path(id: @post.parent_post_id), class: "btn btn-primary" do %>
              <span class="glyphicon glyphicon-zoom-in"></span>
                See the Problem
            <% end %>
          </li>
        <% end %>
        <li>
          <%= link_to new_post_path(post_type: "Proposal", area: @post.area, parent_post_id: @post.id), class: "btn btn-primary" do %>
            <span class="glyphicon glyphicon-wrench"></span>
              Give a Proposal
          <% end %>
        </li>
        <li>
          <%= link_to new_layer_post_path(@post), class: "btn btn-primary" do %>
            <span class="glyphicon glyphicon-duplicate"></span>
              Add a Layer
          <% end %>
        </li>
      </ul>

       </div>
    </div>
  </div>
  </div>
</div>


<% unless @current_layer.nil? %>
<script type="text/javascript">
  $(document).ready(function(){
    // select the current layer
    $('#layer_sel option:contains("<%= @current_layer.name %>")').prop("selected","selected");
  })
</script>
<% end %>