<div class="container search-index-box">
  <div class="row post-header">
    <div class="col-md-6">
      <h1><%=@post.title%></h1>
    </div>
    <div class="col-md-1 col-md-offset-4">
      <% if can_edit? @post %>
        <a><%= link_to 'Edit', edit_post_path, class: "btn btn-success btn-black-2" %></a>
        </div>
        <div class="col-md-1">
          <%= bootstrap_form_for(@delete,
                                 url: post_path(@delete) + "?layer_id=" + ( @current_layer.nil? ? '' : @current_layer.id).to_s ,
                                 html: { method: :put }) do |f| %>

            <div class="form-group">
              <%= f.hidden_field :post_body, :value => "[deleted]" %>
              <%= f.submit "Delete", data: { confirm: 'Are you sure?' }, class: "btn btn-success btn-black-2"  %>
            </div>
          <% end %>
      <% end %>
      </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <p>
        Area: <%= link_to @post.area.name, area_path(@post.area.id) %>
      </p>
    </div>
    <div class="col-md-3 col-md-offset-3">
      <p class="texst-right">
        By <%= link_to @post.user.full_name, profile_user_path(id: @post.user.slug)  %>
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-1">
      <% if @post.post_type == 'Problem'%>
        <%= link_to posts_path(post_type: 'Idea', tags_filter: @post.all_tags.split(", ")[0], parent_id: @post.id) do %>
          <span class="btn3"><%= @post.ideas.count %> Ideas</span>
        <% end %>
      <% end %>
    </div>

    <div class="col-md-3 col-md-offset-6">
      Layer:
      <select name="layer_sel" id="layer_sel">
        <% if @current_layer.nil? %>
          <option value="/posts/<%= @post.slug %>" selected="selected">Public</option>
          <% @post.layers.each do |l| %>
            <option value="/posts/<%= @post.slug %>?layer=<%= l.name %>">
              <%=  l.name %>
            </option>
          <% end %>
        <% else %>
          <option value="/posts/<%= @post.slug %>">Public</option>
          <% @post.layers.each do |l| %>
            <option value="/posts/<%= @post.slug %>?layer=<%= l.name %>" selected="<%= 'selected' if l.name == @current_layer.name %>">
              <%=  l.name %>
            </option>
          <% end %>
        <% end %>
        <option value="<%= new_layer_post_path(@post) %>">Add a new Layer.</option>
      </select>
    </div>
  </div>

  <div class="row post-show-button-box">
    <div class="col-md-12">

      </h1>
    </div>
  </div>

  <%= render 'body', object: @post %>

  <div class="row box-link-row">
    <div class="box-links-2 col-md-7">
      <% if @post.post_type == 'Problem'%>
          <%= link_to new_post_path(post_type: "Idea",area: @post.area, parent_post_id: @post.id), class: "btn2 btn-primary" do %>
            <span class="glyphicon glyphicon-bell"></span>
            Give an Idea
          <% end %>
      <% end %>
      <% if @post.post_type == 'Idea' and  @post.parent_post_id != nil %>
          <%= link_to post_path(id: @post.parent_slug), data: { 'turbolinks': false }, class: "btn2 btn-primary" do %>
            <span class="glyphicon glyphicon-zoom-in"></span>
            See the Problem
          <% end %>
      <% end %>
      <% if @post.post_type == 'Proposal' and  @post.parent_post_id != nil %>
          <%= link_to post_path(id: @post.parent_slug), data: { 'turbolinks': false }, class: "btn2 btn-primary" do %>
            <span class="glyphicon glyphicon-zoom-in"></span>
            See the Idea
          <% end %>
      <% end %>
      <% unless @post.post_type == 'Proposal' %>
          <%= link_to new_post_path(post_type: "Proposal", area: @post.area, parent_post_id: @post.id), class: "btn2 btn-primary" do %>
            <span class="glyphicon glyphicon-wrench"></span>
            Give a Proposal
          <% end %>
      <% end %>
    </div>
    <div class="box-links-2 col-md-2">
      <b><div class="rating">
        <% 1.upto(5) do |star_index| %>
          <% if star_index <= @post.avg_rating %>
            <span class="glyphicon glyphicon-star"></span>
          <% else %>
            <span class="glyphicon glyphicon-star-empty"></span>
          <% end %>
        <% end %>
        <% if user_signed_in? %>
          <% unless @rated.nil? %>
            <span id="rated"><i>You Rated <strong class="rate_count"> <%= @rated.score %></strong> Stars.</i></span>
          <% else %>
            <span id="rated" style="display: none;"><i>You Rated <strong class="rate_count"></strong> Stars.</i></span>
          <% end %>
        <% end %>
      </div></b>
    </div>
    <div class="box-links-2 col-md-3">
      <b><span><i class="glyphicon glyphicon-calendar glyph-padding"></i> <%= @post.created_at.strftime("%I:%M %p, %d/%m/%Y") %> </span></b>
    </div>



  <!-- Add Token Modal -->
  <div class="modal" id="add-token">

      <div class="modal-content">
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Add a
          <%= select_tag 'token_type', options_for_select([["Note","Note"],["Debate","Debate"],["Question","Question"]]) %>
          Token.
          </h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <!-- Modal body -->
        <div class="modal-body">
          <%= form_tag(create_token_post_path, method: :post, remote: true, id: :token_form  ) do %>
            <div class="form-group required">
            <p id="tkn-info">
              Give the details of the Note token.
            </p>
            <%= text_area_tag "token_body","",name: 'token_body' %>
            <%= hidden_field_tag(:span_id) %>
            <%= hidden_field_tag(:tkntype) %>
            <%= hidden_field_tag(:layer_id) %>
            <button type="submit" id="tkn_form_btn" class="btn btn-success">Add Token</button>
            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
        <% end %>
    </div>
  </div>

  </div>
  </div>
  </div>

  <!-- Rate Post Modal -->
  <div class="modal" id="rate-post">
    <div class="modal-dialog">
      <div class="modal-content">
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">
          Do you want to rate this <%= @post.post_type %> <strong class="rate_count"></strong> stars ?
          </h4>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
          <%= form_tag(add_rating_post_path, method: :post, remote: true, id: :rating_form  ) do %>

            <div class="form-group required">
            <div id="stars_form">

            </div>
            <%= hidden_field_tag(:score) %>
            <button type="submit" id="tkn_form_btn" class="btn btn-success">Yes</button>
            <button type="button" class="btn btn-danger" data-dismiss="modal">Don't Rate</button>
            </div>
        </div>

        <% end %>
      </div>
    </div>
  </div>

<% if user_signed_in? %>
  <% content_for :token_purse do %>
    <span class='tkn-n token' data-type='Note'>N</span><span id="n_rem_count" class='label label-danger' style="border-radius: 50%"><%= @tokens_count[0] %></span>
    <span class='tkn-n token' data-type='Debate'>D</span><span id="d_rem_count" class='label label-danger' style="border-radius: 50%"><%= @tokens_count[1] %></span>
    <span class='tkn-n token' data-type='Question'>Q</span><span id="q_rem_count" class='label label-danger' style="border-radius: 50%"><%= @tokens_count[2] %></span>
  <% end %>
<% end %>
</div>

<script type="text/javascript">
  function fetch_and_add_token(){
  $.get("<%= all_tokens_post_path %>?layer=<%= @current_layer.nil? ? nil : @current_layer.id %>", function(data, status){
    data.map(function(obj){
      //console.log(obj)
      $('#'+obj.span_id).after("<span class='tkn-n'><a href='<%= show_token_post_path %>?token_id="+ obj.id+"'><strong>"+obj.token_type[0]+"</strong></a></span>");
    })
});
} 
fetch_and_add_token();


<% unless @current_layer.nil? %>
  // select the current layer
   $('#layer_sel option:contains("<%= @current_layer.name %>")').prop("selected","selected");
   $('#layer_id').val("<%= @current_layer.id %>");
  <% else %>
   $('#layer_sel option:contains("Primary")').prop("selected","selected");
<% end %>

</script>




