<div class="well" style="background-color: <%= bg_color(@token.post.post_type) %>">
<div class="media">
<a class="pull-left" href="#">
<img class="media-object" >
</a>
<div class="media-body">

<h1 class="media-heading">A <%= @token.token_type %> Token on "<%= link_to @token.post.title,post_path(@token.post) %>"
  <h2>
    Area:  <%= @token.post.area %>
   </h2>
</h1>
<p class="text-right">By <%= @token.user_name %></p>

<div class="post-body">
	<%= @token.body.html_safe unless @token.body.nil? %>
</div>

</div>
</div>
</div>

<div class="well">
	<div class="media">
		<div class="media-body">
			<h1 class="media-heading">
				 Add an Answer / Argument
				
			</h1>

			<div class="post-body">
				   <div class="form-group required">
				   <%= form_tag(create_token_post_path, method: :post, remote: true, id: :token_form  ) do %>
				      <%= text_area_tag "body","", class: "tinymce", rows: 10 , cols: 120 %>
				      <%= tinymce %>
				      <%= hidden_field_tag(:polarity) %>
				      
				      <button type="submit" class="btn btn-success">Add Comment</button>
				      <% end %>
					</div>

				</div>

		</div>
	</div>

</div>