<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= content_for?(:title) ? yield(:title) : "NeedPedia" %></title>
  <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Insert description" %>">
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  <script src="/path/to/tinymce.min.js"></script>
  <script src="/path/to/jquery.tinymce.min.js"></script>

  <script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
  <script src="//maxcdn.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>


<body class="<%= "#{controller_name}-controller #{action_name}-action #{layout_name}-layout" %>">
<div class="row">
  <%= render 'shared/nav' %>
</div>
<div class="row">
  <main role="main">
    <div class="container-fluid">
      <div id="flash-messages" class="row">
        <%# Rails flash messages styled for Bootstrap 3.0 %>
        <% flash.each do |type, message| %>
          <%# Checking if the message is a string is required to avoid the
          Devise timeoutable module from creating a flash message containing
          "true". This is a temporary fix as it was just fixed in Devise (but
          not on the master branch yet) See:
          https://github.com/plataformatec/devise/issues/1777 %>
          <% if message.is_a?(String) %>
            <%= content_tag :div, class: "alert #{bootstrap_class_for(type)} alert-dismissable", role: "alert" do %>
              <button type="button" class="close" data-dismiss="alert"><i class="glyphicon glyphicon-remove-circle"></i></button>
              <%= message %>
            <% end %>
          <% end %>
        <% end %>
      </div><!-- flash-messages -->

      <%# Main content %>
      <%= content_for?(:main_contents) ? yield(:main_contents) : yield %>
    </div><!-- container-fluid -->
  </main>
</div>


