<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Needpedia</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta content="width=device-width, initial-scale=1" name="viewport" />
        <meta content="" name="description" />
        <meta content="" name="author" />
        <!-- BEGIN GLOBAL MANDATORY STYLES -->
        <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />
        <link href="<%= stylesheet_path 'simple-line-icons.min.css' %>" rel="stylesheet" type="text/css" />
        <link href="<%= stylesheet_path 'bootstrap.min.css' %>" rel="stylesheet" type="text/css" />
        <link href="<%= stylesheet_path 'uniform.default.css' %>" rel="stylesheet" type="text/css" />
        <link href="<%= stylesheet_path 'bootstrap-switch.min.css' %>" rel="stylesheet" type="text/css" />
        <link href="<%= stylesheet_path 'select2.min.css' %>" rel="stylesheet" type="text/css" />
        <link href="<%= stylesheet_path 'select2-bootstrap.min.css' %>" rel="stylesheet" type="text/css" />
        <!-- END PAGE LEVEL PLUGINS -->
        <!-- BEGIN THEME GLOBAL STYLES -->
        <link href="<%= stylesheet_path 'components-rounded.css' %>" rel="stylesheet" id="style_components" type="text/css" />

        <link href="<%= stylesheet_path 'plugins.min.css' %>" rel="stylesheet" type="text/css" />
        <!-- END THEME GLOBAL STYLES -->
        <!-- BEGIN PAGE LEVEL STYLES -->
        <!-- END PAGE LEVEL STYLES -->
        <!-- BEGIN THEME LAYOUT STYLES -->
        <!-- END THEME LAYOUT STYLES -->
        <link rel="shortcut icon" href="favicon.ico" /> 

        <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

        </head>
        </html>
        <body class="login">
            <%= yield %>
        </body>