<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= content_for?(:title) ? yield(:title) : "NeedPedia" %></title>
  <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Insert description" %>">
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<%# Giving the body tag classes with names corresponding to the current
controller and action allows the implementation of page-specific CSS and JS %>
<body class="<%= "#{controller_name}-controller #{action_name}-action #{layout_name}-layout" %>">
<div class="row">
  <%= render 'shared/nav' %>
</div>
<div class="row header-margin header">

</div>
<div class="row">
  <div class="col-md-2">
    <div class="col-md-12 sidebar-box">
      <%= render "shared/sidebar" %>
    </div>
  </div>
  <div class="col-md-10 body-margin">
    <%= yield %>
  </div>
</div>
</body>
</html>
